<%= form_for(@checkin) do |f| %>
  <% if @checkin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checkin.errors.count, "error") %> prohibited this checkin from being saved:</h2>

      <ul>
      <% @checkin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :camera_id %><br>
    <%= f.number_field :camera_id %>
  </div>
  <div class="field">
    <%= f.label :exposure %><br>
    <%= f.number_field :exposure %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.number_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_field :summary %>
  </div>
  <div class="field">
    <%= f.label :story %><br>
    <%= f.text_field :story %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_field :comments %>
  </div>
  <div class="field">
    <%= f.label :updated_count %><br>
    <%= f.number_field :updated_count %>
  </div>
  <div class="field">
    <%= f.label :is_user_editable %><br>
    <%= f.check_box :is_user_editable %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
