<%= form_for(setup_checkin(@checkin)) do |f| %>
  <% if @checkin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checkin.errors.count, "error") %> prohibited this checkin from being saved:</h2>

      <ul>
      <% @checkin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :camera_id %><br>
    <%= collection_select(:checkin, :camera_id, Camera.all, :id, :camera_number) %>
  </div>
  <div class="field">
    <%= f.label :exposure %><br>
    <%= f.select :exposure, options_for_select(0..27, @checkin.exposure) %>
  </div>

  <%= f.fields_for :location do |ff| %>
    <div class="field">
      <%= ff.label :name %><br>
      <%= ff.text_field :name %>
    </div>
    <div class="field">
      <%= ff.label :street %><br>
      <%= ff.text_field :street %>
    </div>
    <div class="field">
      <%= ff.label :city %><br>
      <%= ff.text_field :city %>
    </div>
    <div class="field">
      <%= ff.label :state %><br>
      <%= ff.text_field :state %>
    </div>
    <div class="field">
      <%= ff.label :zip %><br>
      <%= ff.text_field :zip %>
    </div>
    <div class="field">
      <%= ff.label :country %><br>
      <%= ff.text_field :country %>
    </div>
    <div class="field">
      <%= ff.label :lat %><br>
      <%= ff.text_field :lat %>
    </div>
    <div class="field">
      <%= ff.label :lng %><br>
      <%= ff.text_field :lng %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_field :summary %>
  </div>
  <div class="field">
    <%= f.label :story %><br>
    <%= f.text_field :story %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_field :comments %>
  </div>
  <div class="field">
    <%= f.label :is_user_editable %><br>
    <%= f.check_box :is_user_editable %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
